* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.btn {
    width: 5rem;
    height: 2rem;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 5pz;

}